
*{
    box-sizing: border-box;
    margin: 0px;
    overscroll-behavior: none;
    padding: 0px;
    font-family: "Montserrat", serif;
}
.intro{
    background-color: #4b5605;
    height: 65px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 55px;
    display: flex;
    justify-content: space-between;
}
.intro ul{
    list-style-type: none;
}
#iconic{
    display: flex;
    gap: 20px;
    
}
header .intro .icons ul li a i{
    color: white;
    transition: 300ms;
    font-size: 24px;
    font-weight: bold;
}
header .intro .icons ul li a i:hover{
    color: bisque;
}
.search{
    width: 240px;
    height: 30px;
    background-color: black;
}
.search input{
    border: none;
    outline: none;
    padding-left: 5px;
    height: 100%;
    width: 86%;
}

.search div{
    display: inline-block;
    
    height: 30px;
    width: 12%;
    line-height: 30px;
    text-align: center;
}
header .search div i{
    color: white;
    font-weight: 800;
    font-size: 16px;
}
.comm ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
.comm ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.comm ul li span{
    margin-left: 10px;
}
.navigation{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 85px;
    height: 80px;
    background-color: blanchedalmond;
}
.navigation .title{
    height: 60px;
    width: 150px;
}
.navigation .title img{
    height: 100%;
    width: 100%;
}
.navigation ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.navigation ul li{
    flex-grow: 1;
    text-align: center;
}
.navigation ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.navigation ul li a.active{
    color: #4b5605;
    font-size: 20px;
}
.navigation ul li:not(:last-child){
    border-right: 3px solid ;
}
.navigation ul li:nth-child(3){
    position: relative;
}
.navigation ul li:nth-child(3) ul{
    position: absolute;
    left: 0px;
    transition:  2s ease-in-out;
    display: none;
    width: 100%;
}
.navigation ul li:nth-child(3){
    cursor: pointer;
}
.navigation ul li:nth-child(3) ul li a{
    color: white;
}
.navigation ul li:nth-child(3) ul li{
    background-color: #4b5605;
    height: 38px;
    line-height: 38px;
    border-bottom: 0.8px solid white;
    text-align: left;
    text-indent: 14px;
}
.navigation ul li:nth-child(3) span{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.navigation ul li:nth-child(3) li:hover{
    background-color: black;
}
.navigation ul li:nth-child(3) ul li:has(:hover) a{
    color: rgb(239, 160, 13) ;
}
.navigation ul li:nth-child(3):has(:hover) ul{
    display: block;
}
.navigation ul li a:hover{
    color: rgb(239, 160, 13) ;
}
.first{
    padding: 0px 30px;
    padding-top: 27px;
    text-align: center;
    background-image: url(elephants.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.first h1{
    color:  #4b5605;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
}
.first p{
    color: #EFBF04;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 10px;
}
.first a{
    display: inline-block;
}
.first a button{
    cursor: pointer;
    background-color: #4b5605;
    border: none;
    font-size: 19px;
    font-weight: 500;
    border-radius: 6px;
    color: whitesmoke;
    transition: all 200ms linear;
    margin-top: 40px;
    height: 50px;
    width: 150px;
    transform: translateX(-20%);
    outline: none;
}
.first a:has(:hover) button{
    background-color: white;
    font-size: 22px;
    color: #4b5605;
}
.second,.third{
    margin-top: 100px;
}
.h5{
    text-align: center;
    color: #4b5605;
    font-size: 25px;
    font-weight: bold;
}
.h2{
    font-size: 38px;
    margin: 25px 0px;
    font-weight: bold;
    text-align: center;
}
.content{
    overflow: hidden;
    display: grid;
    column-gap: 25px;
    row-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    padding: 0px 25px;
}
.content .anchor{
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
    height: 100vh;
    background-color: rgba(231, 230, 230, 0.811);
    border-bottom: 4px solid #4b5605;
}
.details{
    position: relative;
    height: 45%;
    border-right: 0.8px solid #4b5605;
    border-left: 0.8px solid #4b5605;
    text-align: center;
    padding: 0px 15px;
    padding-top: 30px;
}
.details h2{
    margin-bottom: 30px;
    color: #4b5605;
}
.details p{
    font-size: 18px;
    border-bottom: 0.9px solid;
    padding-bottom: 30px;
    margin-bottom: 40px;
    font-weight: 500;
}
.details button{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: white;
    background-color: #4b5605;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    border: none;
    outline: none;
    transition: all 200ms;
    left: 15px;
    bottom: 20px;
    text-align: left;
    cursor: pointer;
}
.details button:hover{
    background-color: black;
    color: white;
}
.content .anchor .image{ 
    overflow: hidden;
    background-color: black;
    height: 55%;
}
.content .anchor .image img{
    transition: all 200ms;
    height: 100%;
    width: 100%;
    clip-path: polygon(100% 0, 100% 98%, 84% 89%, 0 100%, 0 0);

}
.content .anchor :has(:hover) img{
    scale: 1.05;
}

footer{
    margin-top: 15px;
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: #4b5605;
    gap: 5%;
    padding-top: 15px;
    padding-right: 65px;
    padding-left: 65px;
    display: flex;
    justify-content: space-between;
}
footer .mwanzo{
    height: 100%;
}
.logo-image{
    height: 50px;
    width: 50px;
}
.logo-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.tatu h3{
    text-align: left;
}
.tatu .imag{
    display: grid;
    grid-template-columns: repeat(3,85px);
    grid-template-rows: repeat(2,100px);
    row-gap: 9px;
    column-gap: 9px;
}
.tatu .imag img{
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.632);
    height: 100%;
    border-radius: 5px;
}
.mwanzo h2{
    margin-bottom: 15px;
    font-weight: bold;
}
.mwanzo p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.pili{
    margin-top: 30px;
}
.mwanzo{
    margin-top: 30px;
}
.tatu{
    margin-top: 30px;
}
.pili h3{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 17px;
}
.pili ul{
    color: white;
    font-size: 17px;
    list-style-type: none;
    margin-bottom: 25px;
}
.pili ul li a{
    color: gold;
    text-decoration: none;
}
.pili ul li{
    margin-top: 18px;
    font-weight: 500;
}
footer ul li a i,footer ul li i{
    margin-right: 15px;
}
.icons{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.icons .cont{
    height: 45px;
    width: 45px;
    transition: 200ms all;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
}
.icons .cont a{
    transition: 200ms all;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.icons .cont:hover{
    background-color: rgba(228, 6, 6, 0.68);
}
.tatu h3{
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}
.about{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 190px;
    
}
.about h3{
    margin-bottom: 15px;
    color: #4b5605;
    font-size: 22px;
}

.about h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.about p{
    font-family: "Playwrite IT Moderna", serif;
}
.reviews{
    border-radius: 5px;
    
}
.review-card{
    width: 100%;
    height: 100%;
    background-color: #4b5605;
    padding: 20px 20px;
    color: white;
    border-radius: 16px;
}
.review-card .reviewer{
    padding-bottom: 10px;
}
.review-card .ratings{
    padding-bottom: 20px;
}
.swiper{
    padding-left: 40px;
    position: relative;
    height: 275px;
    padding-right: 40px;  
}
.swiper .reviews .review-card .ratings i{
    color: gold;
    font-size: 20px;
}
.form{
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 540px;
    background-color: #4b5605;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-right: 25px;
}
form{
    display: flex;
    flex-direction: column;
}
.form input{
    font-weight: 500;
    height: 45px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
}
.form h2{
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    
}
form h3{
    color: white;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
}
textarea{
    height: 85px;
    resize: none;
    border: none;
    outline: none;
    padding-left: 20px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;
}
.star-ratings{
    margin: 0px auto;
    margin-bottom: 10px;
}
.form form .star-ratings i{
    font-size: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-right: 4px;
}
form button{
    height: 45px;
    width: 225px;
    display: block;
    margin: 0px auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 25px;
    background-color: white;
    color: #4b5605;
    font-weight: bold;
}