.slider {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0;
}

.slide {
    width: 100%;
    display: none;
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.slide.active {
    display: block;
}


/*Previous and Next Buttons*/

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 16px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}